body {
  background-color  : #AE0000;
  filter            : progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE0000', endColorstr='#FFAE0000');
  background-image  : url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size   : 100%;
  background-image  : -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EE0000), color-stop(80%, #EE0000), color-stop(100%, #AE0000));
  background-image  : -webkit-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image  : -moz-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image  : -o-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image  : -ms-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image  : linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  min-width         : 965px;
  color             : #888888;
  letter-spacing    : -0.5px;
  background-repeat : no-repeat;

  margin            : 0 auto;
  width             : 965px;

  font-family       : tahoma, arial, verdana, sans-serif;
}

.header-container {
  background          : url(../images/bg_sprite.png) no-repeat;
  background-position : bottom left;
  width               : 964px;
  outline             : none;
  //text-indent : -5600px;
  height              : 100px;
}

.header-menu ul {
  text-align : right;
}

.header-menu li {
  display      : inline;
  margin-right : 0.7em;
}

.header-menu a {
  color           : white;
  text-decoration : none;
  font-size       : 0.7em;
}