* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea, select {
  font-family: "proxima-nova";
}

@media all and (min-width: 800px) {
  .hide-for-desktop {
    display: none;
  }
}

body {
  background-color  : $lightred;
  min-width         : 965px;
  color             : #FFFFFF;
  background-repeat : no-repeat;
  font-family       : "proxima-nova";
  @media #{$query-phones} {
    min-width : 240px;
  }
}

body.gradient {
  background-color : #AE0000;
  filter           : progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE0000', endColorstr='#FFAE0000');
  background-image : url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size  : 100%;
  background-image : -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EE0000), color-stop(80%, #EE0000), color-stop(100%, #AE0000));
  background-image : -webkit-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image : -moz-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image : -o-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image : -ms-linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
  background-image : linear-gradient(top, #EE0000 0%, #EE0000 80%, #AE0000 100%);
}

#viewport {
  margin : 0 auto;
  width  : 965px;

  @media #{$query-phones} {
    width      : 100%;
  }
}

#header-container {
  background          : url(../images/bg_sprite.png) no-repeat;
  background-position : bottom left;
  width               : 964px;
  outline             : none;
  //text-indent : -5600px;
  height              : 100px;
  @media #{$query-phones} {
    display : none;
  }
}

.intro {
  position: relative;
  height: 30px;
  h1 {
    position: absolute;
    font-size: 16px;
    margin: 0;
    left: 10px;
    top: 10px;    
  }
}

/* our menu on mobile */
.menu {
  @include border-radius(5px);
  background: darken($lightred, 15);
  text-transform: uppercase;
  position: absolute;
  padding: 7px 15px;
  right: 10px;
  top: 7px;
  font-size: 12px;
  font-weight: bold;
}

#header-menu ul {
  text-align : right;
}

#header-menu li {
  display      : inline;
  margin-right : 0.7em;
}

#header-menu a {
  color           : white;
  text-decoration : none;
  font-size       : 0.7em;
}

#footer-main {
  margin-top    : 1.5em;
  font-size     : 0.8em;
  text-align    : center;
  margin-bottom : 110px;
  @media #{$query-phones} {
    margin-bottom : 1em;
  }
}

button {
  padding           : 2px 15px;
  border            : 1px solid #E4B000;
  background-image  : none;
  background-color  : $highlight-light;

  @include yellow-button-gradient;

  zoom              : 1;
  cursor            : pointer;
  white-space       : nowrap;
  vertical-align    : middle;
  background-repeat : no-repeat;

  font-size         : 20px;
  font-weight       : bold;
  color             : #333333;

  @include border-radius(3px);
}

.intro {
  padding: .5em;
}

.clearboth {
  clear : both;
}

#content {

}