#dock {
  position       : fixed;
  bottom         : 0;
  left           : 0;
  width          : 100%;
  background     : #000000;
  text-transform : uppercase;
  font-size      : 1.8em;

  /* fixed to the bottom for phones */
  @media #{$query-phones} {
    bottom    : 0px;
    font-size : 1em;
  }

  div {
    float: right;
    .value {
      font-weight: bold;
      display: inline-block;
    } 
  }

  .total {
    @include background(linear-gradient(#faea5f, #f5c601));
    @include border-radius(5px);
    border-left: 1px solid #f5c601;
    margin: 15px 15px 15px 15px;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
  }

  .quantity {
    @include border-radius(5px);
    margin: 15px 0px 15px 0;
    background: #e5e5e5;
    color: black;
    padding: 10px 45px;
    position: relative;
  }

  .arrow {
    width: 35px;
    height: 100%;
    background: rgb(202, 202, 202);
    position: absolute;
    text-align: center;
    line-height: 39px;
    font-weight: bold;
    color: black;
    font-size: 24px;
    &.up {
      @include background(linear-gradient(rgb(202, 202, 202), darken(rgb(202, 202, 202), 10)));
      @include border-top-right-radius(5px);
      @include border-bottom-right-radius(5px);
      top: 0;
      right: 0;   
    }
    &.down {
      @include background(linear-gradient(rgb(202, 202, 202), darken(rgb(202, 202, 202), 10)));
      @include border-top-left-radius(5px);
      @include border-bottom-left-radius(5px);
      top: 0;
      left: 0;   
    }

  }

  .items {
    border-left : 1px solid $inactive-light;

    span {
      display    : inline-block;
      background : red;
      padding    : 0 0.3em;
      color      : $highlight-dark;
      @include border-radius(5px);
      @include background(linear-gradient(top, #000000 0%, $dark-font 40%, $inactive-light 100%));
    }

  }
}