@mixin yellow-button-gradient {
  color : #222222;
  @include background(linear-gradient(top, $highlight-light, $highlight-med-light 48%, $highlight-med-dark 52%, $highlight-dark));
}

@mixin inactive-button-gradient {
  color : #8B8B8B;
  @include background(linear-gradient(top, $inactive-dark, $inactive-light));
}

@mixin chooser-button-gradient {
  @include background(linear-gradient(top, #FFFFFF 0%, #FFFFFF 50%, #C2C2C2 100%));
}

@mixin transparent-border {
  -moz-background-clip    : border; /* Firefox 3.6 */
  -webkit-background-clip : border; /* Safari 4? Chrome 6? */
  background-clip         : border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

  -moz-background-clip    : padding; /* Firefox 3.6 */
  -webkit-background-clip : padding; /* Safari 4? Chrome 6? */
  background-clip         : padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

  -moz-background-clip    : content; /* Firefox 3.6 */
  -webkit-background-clip : content; /* Safari 4? Chrome 6? */
  background-clip         : content-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

@-webkit-keyframes FadeIn {
  0% {
    opacity           : 0;
    -webkit-transform : translateY(5px);
  }
  100% {
    opacity           : 1;
    -webkit-transform : translateY(0);
  }
}

@mixin fadeIn {
  -webkit-animation : FadeIn 0.1s 0s ease both;
  -moz-animation    : FadeIn 0.1s 0s ease both;
  -ms-animation     : FadeIn 0.1s 0s ease both;
  -o-animation      : FadeIn 0.1s 0s ease both;
  animation         : FadeIn 0.1s 0s ease both;
}