$lightred : #EE0000;

$highlight-dark : #FFC911;
$highlight-med-dark : #FFC707;
$highlight-med-light : #FFD135;
$highlight-light : #FFD441;

$inactive-dark : #2D2D2D;
$inactive-light : #626262;

$dark-font : #222222;