/* line 1, ../sass/partials/_common.scss */
body {
  background-color: #ee0000;
  min-width: 965px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  background-repeat: no-repeat;
  font-family: tahoma, arial, verdana, sans-serif;
}

/* line 10, ../sass/partials/_common.scss */
body.gradient {
  background-color: #AE0000;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE0000', endColorstr='#FFAE0000');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee0000), color-stop(80%, #ee0000), color-stop(100%, #ae0000));
  background-image: -webkit-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -moz-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -o-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -ms-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
}

/* line 23, ../sass/partials/_common.scss */
#viewport {
  margin: 0 auto;
  width: 965px;
}

/* line 28, ../sass/partials/_common.scss */
#header-container {
  background: url(../images/bg_sprite.png) no-repeat;
  background-position: bottom left;
  width: 964px;
  outline: none;
  height: 100px;
}

/* line 37, ../sass/partials/_common.scss */
#header-menu ul {
  text-align: right;
}

/* line 41, ../sass/partials/_common.scss */
#header-menu li {
  display: inline;
  margin-right: 0.7em;
}

/* line 46, ../sass/partials/_common.scss */
#header-menu a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
}

/* line 52, ../sass/partials/_common.scss */
#dock {
  position: fixed;
  bottom: 0;
  lelft: 0;
  width: 100%;
  background: #000000;
  height: 100px;
}

/* line 62, ../sass/partials/_common.scss */
#footer-main {
  margin-top: 1.5em;
  font-size: 0.8em;
  text-align: center;
}

/* line 68, ../sass/partials/_common.scss */
button {
  padding: 2px 15px;
  border: 1px solid #E4B000;
  background-image: none;
  background-color: #ffd441;
  color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd441), color-stop(48%, #ffd135), color-stop(52%, #ffc707), color-stop(100%, #ffc911));
  background: -webkit-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -moz-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -o-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 89, ../sass/partials/_common.scss */
.clearboth {
  clear: both;
}

/* line 96, ../sass/partials/_common.scss */
.pizza-builder {
  display: block;
  background-color: #222222;
  border: 5px solid #C40010;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 105, ../sass/partials/_common.scss */
.pb-dropdowns {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #555555;
  margin: 0 auto;
  width: 90%;
}
/* line 112, ../sass/partials/_common.scss */
.pb-dropdowns select {
  width: 240px;
}

/* line 123, ../sass/partials/_common.scss */
.pb-toppings {
  float: right;
  text-align: center;
  margin-right: 20px;
  color: #222222;
}
/* line 129, ../sass/partials/_common.scss */
.pb-toppings .topping-selectors {
  list-style: none;
  margin: 1em 0.7em;
  padding: 0;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 24px;
  height: 24px;
}
/* line 138, ../sass/partials/_common.scss */
.pb-toppings .topping-selectors li {
  width: 50%;
  float: left;
  cursor: pointer;
  height: 24px;
  color: #8B8B8B;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #626262));
  background: -webkit-linear-gradient(top, #2d2d2d, #626262);
  background: -moz-linear-gradient(top, #2d2d2d, #626262);
  background: -o-linear-gradient(top, #2d2d2d, #626262);
  background: linear-gradient(top, #2d2d2d, #626262);
}
/* line 144, ../sass/partials/_common.scss */
.pb-toppings .topping-selectors li.selected {
  color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd441), color-stop(48%, #ffd135), color-stop(52%, #ffc707), color-stop(100%, #ffc911));
  background: -webkit-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -moz-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -o-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
}
/* line 147, ../sass/partials/_common.scss */
.pb-toppings .topping-selectors li:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 150, ../sass/partials/_common.scss */
.pb-toppings .topping-selectors li:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 156, ../sass/partials/_common.scss */
.pb-toppings .toppings {
  width: 330px;
  font-weight: bold;
  font-size: 0.7em;
}
/* line 163, ../sass/partials/_common.scss */
.pb-toppings .pb-continue {
  height: 40px;
  width: 180px;
}
/* line 169, ../sass/partials/_common.scss */
.pb-toppings footer {
  font-size: 0.7em;
  text-align: center;
  color: #ffc911;
  margin: 4px 0 1em 0;
}

/* line 1, ../sass/partials/builder/_builder.scss */
.pb-topping {
  margin: 0 0 10px 10px;
  float: left;
  width: 70px;
  background-color: #C2C2C2;
  height: 35px;
  padding-top: 65px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
}
/* line 12, ../sass/partials/builder/_builder.scss */
.pb-topping:after {
  background-image: url(../images/toppings.png);
  content: '';
  position: absolute;
}
/* line 18, ../sass/partials/builder/_builder.scss */
.pb-topping.chicken:after {
  background-position: -1px -124px;
  top: 26px;
  left: 9px;
  width: 56px;
  height: 32px;
}
/* line 26, ../sass/partials/builder/_builder.scss */
.pb-topping.bacon:after {
  background-position: -1px -155px;
  top: 16px;
  left: 9px;
  width: 54px;
  height: 45px;
}
/* line 34, ../sass/partials/builder/_builder.scss */
.pb-topping.meetballs:after {
  background-position: -55px -156px;
  top: 27px;
  left: 9px;
  width: 54px;
  height: 26px;
}
/* line 42, ../sass/partials/builder/_builder.scss */
.pb-topping.pepperoni:after {
  background-position: -110px -156px;
  top: 16px;
  left: 12px;
  width: 46px;
  height: 46px;
}

/* line 3, ../sass/partials/builder/_canvas.scss */
.pb-canvas {
  position: relative;
  margin-left: 20px;
  height: 460px;
  float: left;
}
/* line 9, ../sass/partials/builder/_canvas.scss */
.pb-canvas .marinara {
  top: 0;
  left: 0;
  width: 478px;
  height: 479px;
  background-image: url(../images/pizza-cheese.gif);
}
/* line 17, ../sass/partials/builder/_canvas.scss */
.pb-canvas .pepperoni {
  top: 58px;
  left: 47px;
  width: 392px;
  height: 387px;
  background-image: url(../images/pizza-pepperoni-full.gif);
}
/* line 25, ../sass/partials/builder/_canvas.scss */
.pb-canvas .pepperoni-left {
  top: 58px;
  left: 47px;
  width: 392px;
  height: 387px;
  background-image: url(../images/pizza-pepperoni-left.gif);
}
/* line 33, ../sass/partials/builder/_canvas.scss */
.pb-canvas .pepperoni-right {
  top: 58px;
  left: 47px;
  width: 392px;
  height: 387px;
  background-image: url(../images/pizza-pepperoni-right.gif);
}

/* line 42, ../sass/partials/builder/_canvas.scss */
.pb-canvas > div {
  position: absolute;
  background-repeat: no-repeat;
}

/* line 3, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu {
  position: absolute;
  width: 188px;
  height: 73px;
  background: #FFFFFF;
  color: #222222;
  font-size: 0.7em;
  font-weight: bold;
  border: 5px solid rgba(30, 30, 30, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: border;
  /* Firefox 3.6 */
  -webkit-background-clip: border;
  /* Safari 4? Chrome 6? */
  background-clip: border-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-background-clip: content;
  /* Firefox 3.6 */
  -webkit-background-clip: content;
  /* Safari 4? Chrome 6? */
  background-clip: content-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
/* line 15, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu:after, .pb-toppings-menu:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 25, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu:after {
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #333333;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
/* line 32, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu:before {
  border-color: rgba(30, 30, 30, 0);
  border-top-color: rgba(30, 30, 30, 0.4);
  border-width: 17px;
  left: 50%;
  margin-left: -17px;
}

/* line 41, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector {
  width: 167px;
  height: 56px;
  line-height: 56px;
  margin: 7px auto;
  list-style: none;
  padding: 0;
  text-align: center;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 57, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector li {
  float: left;
  width: 55px;
}
/* line 60, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector li:first-child {
  border-right: 1px solid #d7d7d7;
}
/* line 63, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector li:last-child {
  border-left: 1px solid #d7d7d7;
}
/* line 68, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector .selected {
  background: #333333;
  color: #F3F3F3;
}
/* line 72, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector .selected:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 75, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector .selected:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
