/* line 24, ../sass/main.scss */
body {
  background-color: #ee0000;
  min-width: 965px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  background-repeat: no-repeat;
  font-family: tahoma, arial, verdana, sans-serif;
}

/* line 33, ../sass/main.scss */
body.gradient {
  background-color: #AE0000;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE0000', endColorstr='#FFAE0000');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee0000), color-stop(80%, #ee0000), color-stop(100%, #ae0000));
  background-image: -webkit-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -moz-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -o-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -ms-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
}

/* line 46, ../sass/main.scss */
#viewport {
  margin: 0 auto;
  width: 965px;
}

/* line 51, ../sass/main.scss */
#header-container {
  background: url(../images/bg_sprite.png) no-repeat;
  background-position: bottom left;
  width: 964px;
  outline: none;
  height: 100px;
}

/* line 60, ../sass/main.scss */
#header-menu ul {
  text-align: right;
}

/* line 64, ../sass/main.scss */
#header-menu li {
  display: inline;
  margin-right: 0.7em;
}

/* line 69, ../sass/main.scss */
#header-menu a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
}

/* line 75, ../sass/main.scss */
#dock {
  position: fixed;
  bottom: 0;
  lelft: 0;
  width: 100%;
  background: #000000;
  height: 100px;
}

/* line 85, ../sass/main.scss */
#footer-main {
  font-size: 0.8em;
  text-align: center;
}

/* line 93, ../sass/main.scss */
.pizza-builder {
  display: block;
  background-color: #222222;
  border: 5px solid #C40010;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 102, ../sass/main.scss */
.pb-dropdowns {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #555555;
  margin: 0 auto;
  width: 90%;
}
/* line 109, ../sass/main.scss */
.pb-dropdowns select {
  width: 240px;
}

/* line 120, ../sass/main.scss */
.pb-toppings {
  float: right;
  text-align: center;
  margin-right: 20px;
  color: #222222;
}
/* line 126, ../sass/main.scss */
.pb-toppings .topping-selectors {
  list-style: none;
  margin: 1em 0.7em;
  padding: 0;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 24px;
  height: 24px;
}
/* line 135, ../sass/main.scss */
.pb-toppings .topping-selectors li {
  width: 50%;
  float: left;
  cursor: pointer;
  height: 24px;
  color: #8B8B8B;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #626262));
  background: -webkit-linear-gradient(top, #2d2d2d, #626262);
  background: -moz-linear-gradient(top, #2d2d2d, #626262);
  background: -o-linear-gradient(top, #2d2d2d, #626262);
  background: linear-gradient(top, #2d2d2d, #626262);
}
/* line 141, ../sass/main.scss */
.pb-toppings .topping-selectors li.selected {
  color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd441), color-stop(48%, #ffd135), color-stop(52%, #ffc707), color-stop(100%, #ffc911));
  background: -webkit-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -moz-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -o-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
}
/* line 144, ../sass/main.scss */
.pb-toppings .topping-selectors li:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 147, ../sass/main.scss */
.pb-toppings .topping-selectors li:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 153, ../sass/main.scss */
.pb-toppings .toppings {
  width: 330px;
  font-weight: bold;
  font-size: 0.7em;
}
/* line 160, ../sass/main.scss */
.pb-toppings .pb-continue {
  height: 40px;
  width: 180px;
}
/* line 166, ../sass/main.scss */
.pb-toppings footer {
  font-size: 0.7em;
  text-align: center;
  color: #ffc911;
  margin: 4px 0 1em 0;
}

/* line 175, ../sass/main.scss */
.pb-topping {
  margin: 0 0 10px 10px;
  float: left;
  width: 70px;
  background-color: #C2C2C2;
  height: 35px;
  padding-top: 65px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(top, #ffffff, #c2c2c2);
  background: -moz-linear-gradient(top, #ffffff, #c2c2c2);
  background: -o-linear-gradient(top, #ffffff, #c2c2c2);
  background: linear-gradient(top, #ffffff, #c2c2c2);
}
/* line 186, ../sass/main.scss */
.pb-topping:after {
  background-image: url(../images/toppings.png);
  content: '';
  position: absolute;
}
/* line 192, ../sass/main.scss */
.pb-topping.chicken:after {
  background-position: -1px -124px;
  top: 26px;
  left: 9px;
  width: 56px;
  height: 32px;
}
/* line 200, ../sass/main.scss */
.pb-topping.bacon:after {
  background-position: -1px -155px;
  top: 16px;
  left: 9px;
  width: 54px;
  height: 45px;
}
/* line 208, ../sass/main.scss */
.pb-topping.meetballs:after {
  background-position: -55px -156px;
  top: 27px;
  left: 9px;
  width: 54px;
  height: 26px;
}
/* line 216, ../sass/main.scss */
.pb-topping.pepperoni:after {
  background-position: -110px -156px;
  top: 16px;
  left: 12px;
  width: 46px;
  height: 46px;
}

/* line 232, ../sass/main.scss */
button {
  padding: 2px 15px;
  border: 1px solid #E4B000;
  background-image: none;
  background-color: #ffd441;
  color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd441), color-stop(48%, #ffd135), color-stop(52%, #ffc707), color-stop(100%, #ffc911));
  background: -webkit-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -moz-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -o-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 253, ../sass/main.scss */
.clearboth {
  clear: both;
}
