/* line 1, ../sass/partials/_common.scss */
body {
  background-color: #ee0000;
  min-width: 965px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  background-repeat: no-repeat;
  font-family: tahoma, arial, verdana, sans-serif;
}
@media only screen and (max-width: 480px) {
  /* line 1, ../sass/partials/_common.scss */
  body {
    min-width: 240px;
  }
}

/* line 13, ../sass/partials/_common.scss */
body.gradient {
  background-color: #AE0000;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE0000', endColorstr='#FFAE0000');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee0000), color-stop(80%, #ee0000), color-stop(100%, #ae0000));
  background-image: -webkit-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -moz-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -o-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -ms-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
}

/* line 26, ../sass/partials/_common.scss */
#viewport {
  margin: 0 auto;
  width: 965px;
}
@media only screen and (max-width: 480px) {
  /* line 26, ../sass/partials/_common.scss */
  #viewport {
    margin-top: 140px;
    width: 100%;
  }
}

/* line 35, ../sass/partials/_common.scss */
#header-container {
  background: url(../images/bg_sprite.png) no-repeat;
  background-position: bottom left;
  width: 964px;
  outline: none;
  height: 100px;
}
@media only screen and (max-width: 480px) {
  /* line 35, ../sass/partials/_common.scss */
  #header-container {
    display: none;
  }
}

/* line 47, ../sass/partials/_common.scss */
#header-menu ul {
  text-align: right;
}

/* line 51, ../sass/partials/_common.scss */
#header-menu li {
  display: inline;
  margin-right: 0.7em;
}

/* line 56, ../sass/partials/_common.scss */
#header-menu a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
}

/* line 62, ../sass/partials/_common.scss */
#dock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  height: 100px;
}
@media only screen and (max-width: 480px) {
  /* line 62, ../sass/partials/_common.scss */
  #dock {
    top: 0;
  }
  /* line 73, ../sass/partials/_common.scss */
  #dock:after {
    content: 'Menu';
    width: 5em;
    height: 2em;
    background-color: rgba(50, 50, 50, 0.3);
    color: white;
    font-size: 0.9em;
    line-height: 2em;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    bottom: -2em;
    right: 1em;
    display: block;
    text-align: center;
    position: absolute;
    cursor: pointer;
  }
  /* line 90, ../sass/partials/_common.scss */
  #dock:before {
    content: 'Welcome Steve';
    font-size: 1.2em;
    color: white;
    position: absolute;
    bottom: -1.4em;
    left: 0.5em;
    width: 200px;
  }
}

/* line 102, ../sass/partials/_common.scss */
#footer-main {
  margin-top: 1.5em;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 110px;
}
@media only screen and (max-width: 480px) {
  /* line 102, ../sass/partials/_common.scss */
  #footer-main {
    margin-bottom: 1em;
  }
}

/* line 112, ../sass/partials/_common.scss */
button {
  padding: 2px 15px;
  border: 1px solid #E4B000;
  background-image: none;
  background-color: #ffd441;
  color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd441), color-stop(48%, #ffd135), color-stop(52%, #ffc707), color-stop(100%, #ffc911));
  background: -webkit-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -moz-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -o-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 133, ../sass/partials/_common.scss */
.clearboth {
  clear: both;
}

/* line 5, ../sass/partials/builder/_builder.scss */
.pizza-builder {
  display: block;
  background-color: #222222;
  border: 5px solid #C40010;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 480px) {
  /* line 5, ../sass/partials/builder/_builder.scss */
  .pizza-builder {
    background-color: transparent;
    border: none;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
  }
}

/* line 22, ../sass/partials/builder/_builder.scss */
.pizza-builder > .pb-continue {
  height: 40px;
  width: 180px;
  display: none;
}
@media only screen and (max-width: 480px) {
  /* line 22, ../sass/partials/builder/_builder.scss */
  .pizza-builder > .pb-continue {
    display: block;
    margin: 1em auto;
    -webkit-box-shadow: 5px 3px 10px 4px rgba(20, 20, 20, 0.3);
    -moz-box-shadow: 5px 3px 10px 4px rgba(20, 20, 20, 0.3);
    box-shadow: 5px 3px 10px 4px rgba(20, 20, 20, 0.3);
  }
}

/* line 33, ../sass/partials/builder/_builder.scss */
.pb-dropdowns {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #555555;
  margin: 0 auto;
  width: 90%;
}
/* line 40, ../sass/partials/builder/_builder.scss */
.pb-dropdowns select {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  /* line 40, ../sass/partials/builder/_builder.scss */
  .pb-dropdowns select {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  /* line 33, ../sass/partials/builder/_builder.scss */
  .pb-dropdowns {
    border: none;
  }
}

/* line 57, ../sass/partials/builder/_builder.scss */
.pb-toppings {
  float: right;
  text-align: center;
  margin-right: 20px;
  color: #222222;
  background: #222222;
}
@media only screen and (max-width: 480px) {
  /* line 57, ../sass/partials/builder/_builder.scss */
  .pb-toppings {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}
/* line 70, ../sass/partials/builder/_builder.scss */
.pb-toppings .topping-selectors {
  list-style: none;
  margin: 1em 0.7em;
  padding: 0;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 24px;
  height: 24px;
}
/* line 79, ../sass/partials/builder/_builder.scss */
.pb-toppings .topping-selectors li {
  width: 50%;
  float: left;
  cursor: pointer;
  height: 24px;
  color: #8B8B8B;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #626262));
  background: -webkit-linear-gradient(top, #2d2d2d, #626262);
  background: -moz-linear-gradient(top, #2d2d2d, #626262);
  background: -o-linear-gradient(top, #2d2d2d, #626262);
  background: linear-gradient(top, #2d2d2d, #626262);
}
/* line 85, ../sass/partials/builder/_builder.scss */
.pb-toppings .topping-selectors li.selected {
  color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd441), color-stop(48%, #ffd135), color-stop(52%, #ffc707), color-stop(100%, #ffc911));
  background: -webkit-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -moz-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: -o-linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
  background: linear-gradient(top, #ffd441, #ffd135 48%, #ffc707 52%, #ffc911);
}
/* line 88, ../sass/partials/builder/_builder.scss */
.pb-toppings .topping-selectors li:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 91, ../sass/partials/builder/_builder.scss */
.pb-toppings .topping-selectors li:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
@media only screen and (max-width: 480px) {
  /* line 70, ../sass/partials/builder/_builder.scss */
  .pb-toppings .topping-selectors {
    padding-top: 0.7em;
  }
}
/* line 101, ../sass/partials/builder/_builder.scss */
.pb-toppings .toppings {
  width: 330px;
  font-weight: bold;
  font-size: 0.7em;
}
@media only screen and (max-width: 480px) {
  /* line 101, ../sass/partials/builder/_builder.scss */
  .pb-toppings .toppings {
    width: 100%;
  }
}
/* line 111, ../sass/partials/builder/_builder.scss */
.pb-toppings .pb-continue {
  height: 40px;
  width: 180px;
}
@media only screen and (max-width: 480px) {
  /* line 111, ../sass/partials/builder/_builder.scss */
  .pb-toppings .pb-continue {
    display: none;
  }
}
/* line 119, ../sass/partials/builder/_builder.scss */
.pb-toppings footer {
  font-size: 0.7em;
  text-align: center;
  color: #ffc911;
  margin: 4px 0 1em 0;
}
@media only screen and (max-width: 480px) {
  /* line 119, ../sass/partials/builder/_builder.scss */
  .pb-toppings footer {
    display: none;
  }
}

/* line 132, ../sass/partials/builder/_builder.scss */
.pb-topping {
  margin: 0 0 10px 10px;
  float: left;
  width: 70px;
  background-color: #C2C2C2;
  height: 35px;
  padding-top: 65px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
}
@media only screen and (max-width: 480px) {
  /* line 132, ../sass/partials/builder/_builder.scss */
  .pb-topping {
    float: none;
    display: inline-block;
    min-width: 85px;
    margin: 5px;
  }
}
/* line 150, ../sass/partials/builder/_builder.scss */
.pb-topping:after {
  background-image: url(../images/toppings.png);
  content: '';
  position: absolute;
}
/* line 156, ../sass/partials/builder/_builder.scss */
.pb-topping.chicken:after {
  background-position: -1px -124px;
  top: 26px;
  left: 9px;
  width: 56px;
  height: 32px;
}
/* line 164, ../sass/partials/builder/_builder.scss */
.pb-topping.bacon:after {
  background-position: -1px -155px;
  top: 16px;
  left: 9px;
  width: 54px;
  height: 45px;
}
/* line 172, ../sass/partials/builder/_builder.scss */
.pb-topping.meetballs:after {
  background-position: -55px -156px;
  top: 27px;
  left: 9px;
  width: 54px;
  height: 26px;
}
/* line 180, ../sass/partials/builder/_builder.scss */
.pb-topping.pepperoni:after {
  background-position: -110px -156px;
  top: 16px;
  left: 12px;
  width: 46px;
  height: 46px;
}

@-webkit-keyframes FadeIn {
  /* line 4, ../sass/partials/builder/_canvas.scss */
  0% {
    opacity: 0;
  }

  /* line 7, ../sass/partials/builder/_canvas.scss */
  100% {
    opacity: 1;
  }
}

/* line 12, ../sass/partials/builder/_canvas.scss */
.pb-canvas {
  position: relative;
  margin-left: 20px;
  height: 460px;
  float: left;
}
@media only screen and (max-width: 480px) {
  /* line 12, ../sass/partials/builder/_canvas.scss */
  .pb-canvas {
    float: none;
    width: 320px;
    height: 350px;
    margin: 0 auto;
  }
}
/* line 25, ../sass/partials/builder/_canvas.scss */
.pb-canvas .marinara {
  top: 0;
  left: 0;
  width: 478px;
  height: 479px;
  background-image: url(../images/pizza-cheese.gif);
}
@media only screen and (max-width: 480px) {
  /* line 25, ../sass/partials/builder/_canvas.scss */
  .pb-canvas .marinara {
    background-size: 310px 310px;
    width: 310px;
    height: 310px;
    position: relative;
    margin: 0 auto;
  }
}
/* line 41, ../sass/partials/builder/_canvas.scss */
.pb-canvas .pepperoni-whole {
  top: 58px;
  left: 47px;
  width: 392px;
  height: 387px;
  background-image: url(../images/pizza-pepperoni-full.gif);
  -webkit-animation-name: FadeIn;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.1s;
}
@media only screen and (max-width: 480px) {
  /* line 41, ../sass/partials/builder/_canvas.scss */
  .pb-canvas .pepperoni-whole {
    background-size: 250px 250px;
    width: 250px;
    height: 250px;
    top: 35px;
    left: 37px;
  }
}
/* line 60, ../sass/partials/builder/_canvas.scss */
.pb-canvas .pepperoni-left {
  top: 58px;
  left: 47px;
  width: 392px;
  height: 387px;
  background-image: url(../images/pizza-pepperoni-left.gif);
  -webkit-animation-name: FadeIn;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.1s;
}
@media only screen and (max-width: 480px) {
  /* line 60, ../sass/partials/builder/_canvas.scss */
  .pb-canvas .pepperoni-left {
    background-size: 141px 243px;
    width: 141px;
    height: 243px;
    top: 40px;
    left: 35px;
  }
}
/* line 79, ../sass/partials/builder/_canvas.scss */
.pb-canvas .pepperoni-right {
  top: 58px;
  left: 233px;
  width: 392px;
  height: 387px;
  background-image: url(../images/pizza-pepperoni-right.gif);
  -webkit-animation-name: FadeIn;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.1s;
}
@media only screen and (max-width: 480px) {
  /* line 79, ../sass/partials/builder/_canvas.scss */
  .pb-canvas .pepperoni-right {
    background-size: 130px 249px;
    width: 130px;
    height: 240px;
    top: 34px;
    left: 161px;
  }
}

/* line 99, ../sass/partials/builder/_canvas.scss */
.pb-canvas > div {
  position: absolute;
  background-repeat: no-repeat;
}

/* line 3, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu {
  position: absolute;
  width: 188px;
  height: 73px;
  background: #FFFFFF;
  color: #222222;
  font-size: 0.7em;
  font-weight: bold;
  border: 5px solid rgba(30, 30, 30, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: border;
  /* Firefox 3.6 */
  -webkit-background-clip: border;
  /* Safari 4? Chrome 6? */
  background-clip: border-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-background-clip: content;
  /* Firefox 3.6 */
  -webkit-background-clip: content;
  /* Safari 4? Chrome 6? */
  background-clip: content-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
/* line 15, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu:after, .pb-toppings-menu:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 25, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu:after {
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #333333;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
/* line 32, ../sass/partials/builder/_toppingsmenu.scss */
.pb-toppings-menu:before {
  border-color: rgba(30, 30, 30, 0);
  border-top-color: rgba(30, 30, 30, 0.4);
  border-width: 17px;
  left: 50%;
  margin-left: -17px;
}

/* line 41, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector {
  width: 167px;
  height: 56px;
  line-height: 56px;
  margin: 7px auto;
  list-style: none;
  padding: 0;
  text-align: center;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  background: linear-gradient(top, #ffffff 0%, #ffffff 50%, #c2c2c2 100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 57, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector li {
  float: left;
  width: 55px;
}
/* line 60, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector li:first-child {
  border-right: 1px solid #d7d7d7;
}
/* line 63, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector li:last-child {
  border-left: 1px solid #d7d7d7;
}
/* line 68, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector .selected {
  background: #333333;
  color: #F3F3F3;
}
/* line 72, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector .selected:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 75, ../sass/partials/builder/_toppingsmenu.scss */
.pb-topping-selector .selected:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
