/* line 1, ../sass/main.scss */
body {
  background-color: #EE0000;
  min-width: 965px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  background-repeat: no-repeat;
  font-family: tahoma, arial, verdana, sans-serif;
}

/* line 10, ../sass/main.scss */
body.gradient {
  background-color: #AE0000;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE0000', endColorstr='#FFAE0000');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee0000), color-stop(80%, #ee0000), color-stop(100%, #ae0000));
  background-image: -webkit-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -moz-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -o-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: -ms-linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
  background-image: linear-gradient(top, #ee0000 0%, #ee0000 80%, #ae0000 100%);
}

/* line 23, ../sass/main.scss */
#viewport {
  margin: 0 auto;
  width: 965px;
}

/* line 28, ../sass/main.scss */
#header-container {
  background: url(../images/bg_sprite.png) no-repeat;
  background-position: bottom left;
  width: 964px;
  outline: none;
  height: 100px;
}

/* line 37, ../sass/main.scss */
#header-menu ul {
  text-align: right;
}

/* line 41, ../sass/main.scss */
#header-menu li {
  display: inline;
  margin-right: 0.7em;
}

/* line 46, ../sass/main.scss */
#header-menu a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
}

/* line 52, ../sass/main.scss */
#dock {
  position: fixed;
  bottom: 0;
  lelft: 0;
  width: 100%;
  background: #000000;
  height: 100px;
}

/* line 62, ../sass/main.scss */
#footer-main {
  font-size: 0.8em;
  text-align: center;
}

/* line 2, ../sass/_pizzabuilder.scss */
.pizza-builder {
  display: block;
  background-color: black;
}
