// This is where we build pizza layers

.pb-canvas {
  position    : relative;
  margin-left : 20px;
  height      : 460px;
  float       : left;

  @media #{$query-phones} {
    position: fixed;
    float  : none;
    width  : 150px;
    height : 150px;
    bottom: 0;
    z-index: 200;
    margin: 0;
  }

  .marinara {
    top              : 0;
    left             : 0;
    width            : 478px;
    height           : 479px;
    background-image : url(#{$path-desktop}/pizza-cheese.gif);

    @media #{$query-phones} {
      position: fixed;
      bottom: -20px;
      top: auto;
      left: -20px;
      background-image: url(#{$path-phone}/pizza-cheese.gif);
      background-size : 120px 120px;
      width           : 120px;
      height          : 120px;
    }
  }

  .pepperoni-whole {
    top                               : 58px;
    left                              : 47px;
    width                             : 392px;
    height                            : 387px;
    background-image                  : url(#{$path-desktop}/pizza-pepperoni-full.gif);
    @include fadeIn;

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-pepperoni-full.gif);
      background-size: 93px 93px;
      width: 93px;
      height: 93px;
      top: 64px;
      left: -4px;
    }
  }

  .pepperoni-left {
    top: 58px;
    left: 47px;
    width: 392px;
    height: 387px;
    background-image: url(#{$path-desktop}/pizza-pepperoni-left.gif);
    @include fadeIn;

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-pepperoni-left.gif);
      background-size: 46px 88px;
      width: 46px;
      height: 93px;
      top: 64px;
      left: -4px;
    }
  }

  .pepperoni-right {
    top                               : 58px;
    left                              : 233px;
    width                             : 392px;
    height                            : 387px;
    background-image                  : url(#{$path-desktop}/pizza-pepperoni-right.gif);;
    @include fadeIn;

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-pepperoni-right.gif);
      background-size: 46px 88px;
      width: 46px;
      height: 93px;
      top: 64px;
      left: 42px;
    }
  }
}

.pb-canvas > div {
  position          : absolute;
  background-repeat : no-repeat;
}
