// This is where we build pizza layers

@-webkit-keyframes FadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.pb-canvas {
  position    : relative;
  margin-left : 20px;
  height      : 460px;
  float       : left;

  .marinara {
    top              : 0;
    left             : 0;
    width            : 478px;
    height           : 479px;
    background-image : url(../images/pizza-cheese.gif);
  }

  .pepperoni {
    top              : 58px;
    left             : 47px;
    width            : 392px;
    height           : 387px;
    background-image : url(../images/pizza-pepperoni-full.gif);
    -webkit-animation-name: FadeIn;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.1s;
  }

  .pepperoni-left {
    top              : 58px;
    left             : 47px;
    width            : 392px;
    height           : 387px;
    background-image : url(../images/pizza-pepperoni-left.gif);
    -webkit-animation-name: FadeIn;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.1s;
  }

  .pepperoni-right {
    top              : 58px;
    left             : 47px;
    width            : 392px;
    height           : 387px;
    background-image : url(../images/pizza-pepperoni-right.gif);
  }
}

.pb-canvas > div {
  position          : absolute;
  background-repeat : no-repeat;
}
