// This is where we build pizza layers

.pb-canvas {
  position    : relative;
  margin-left : 20px;
  height      : 460px;
  float       : left;

  @media #{$query-phones} {
    float  : none;
    width  : 320px;
    height : 350px;
    margin : 0 auto;
  }

  .marinara {
    top              : 0;
    left             : 0;
    width            : 478px;
    height           : 479px;
    background-image : url(#{$path-desktop}/pizza-cheese.gif);

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-cheese.gif);
      background-size : 310px 310px;
      width           : 310px;
      height          : 310px;
      position        : relative;
      margin          : 0 auto;
    }
  }

  .pepperoni-whole {
    top                               : 58px;
    left                              : 47px;
    width                             : 392px;
    height                            : 387px;
    background-image                  : url(#{$path-desktop}/pizza-pepperoni-full.gif);
    @include fadeIn;

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-pepperoni-full.gif);
      background-size : 250px 250px;
      width           : 250px;
      height          : 250px;
      top             : 35px;
      left            : 37px;
    }
  }

  .pepperoni-left {
    top                               : 58px;
    left                              : 47px;
    width                             : 392px;
    height                            : 387px;
    background-image                  : url(#{$path-desktop}/pizza-pepperoni-left.gif);
    @include fadeIn;

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-pepperoni-left.gif);
      background-size : 141px 243px;
      width           : 141px;
      height          : 243px;
      top             : 40px;
      left            : 35px;
    }
  }

  .pepperoni-right {
    top                               : 58px;
    left                              : 233px;
    width                             : 392px;
    height                            : 387px;
    background-image                  : url(#{$path-desktop}/pizza-pepperoni-right.gif);;
    @include fadeIn;

    @media #{$query-phones} {
      background-image: url(#{$path-phone}/pizza-pepperoni-right.gif);
      background-size : 130px 249px;
      width           : 130px;
      height          : 240px;
      top             : 34px;
      left            : 161px;
    }
  }
}

.pb-canvas > div {
  position          : absolute;
  background-repeat : no-repeat;
}
